$primary-darker: #000;
$thirty-darker: #222;
$secondary-darker: #333;

$primary-white: #fafafa;
$secondary-white: #eeeeee;

$white: #fff;

$blue-one: #000074;
$blue-two: #0b0593;
$blue-three: #160ab1;
$blue-four: #210fd0;
$blue-five: #2c14ee;
$blue-five-light: #543efa;

$green-one: #008000;
$green-two: #006800;
$green-one-light: #1b901b;
